<div *ngIf="loading">
  <div class="loader">
    <div class="loader-inner">
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
    </div>
  </div>
</div>
<h1 class="text-center" style="margin-top: 150px;font-family: 'Times New Roman', Times, serif;">Đặt hàng!</h1>
<ng-container *ngIf="data">
  <div class="container row">
    <div class="tbl-order text-center col-10 shadow">
      <div class="cart-product">
        <table class="table table-striped table-responsive text-center px-2">
          <thead>
            <tr>
              <th>Tên sản phảm</th>
              <th>Ảnh</th>
              <th>Hãng</th>
              <th>Size</th>
              <th>Màu</th>
              <th>Giá</th>
              <th>Số lượng</th>
              <th>Tổng tiền</th>
            </tr>
          </thead>
          <tbody>


            <tr>
              <td>{{data.product!.name}}</td>
              <td><img style="width: 120px;"src="https://res.cloudinary.com/productenternal/image/upload/v1668928871/IMAGE/image/{{data.product!.photo}}"></td>
              <td>{{data.product!.hang!.name}}</td>
              <td>{{data.size!.value}}</td>
              <td>{{data.mau!.name}}</td>
              <th style="width: 12%;">{{data.product!.outputprice}}</th>
              <td style="width: 8%;">
                <input #selectquantity (change)="changeQuantity(selectquantity.value,data)" class="form-control"
                  type="number" min="1" formControlName="quantity" value="{{data.quantity}}">
              <td *ngIf="data.product!.outputprice && data!.quantity" style="width: 12%;">{{data.product!.outputprice *
                data.quantity}} VND</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>

<div class="order-payment shadow row">
  <h5 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold; margin-top: 10px;">ĐỊA CHỈ NHẬN HÀNG</h5>
  <div style="width: 1084px;">
    <hr>
  </div>

  <div class="col-8">
      <h5 style="text-transform: uppercase;">{{user}}</h5>
    <form *ngIf="hienthi==1"  [formGroup]="formI4">
      <label>Địa chỉ của bạn(Mặc định): </label>
      <p>Người nhận: {{custommerdefault.name}}</p>
      <p>Số điện thoại: {{custommerdefault.sdt}}</p>
      <p>Địa chỉ: {{custommerdefault.address}}</p>
      <!-- btn them moi -->
      <button class='btn d-block mt-3 mb-3' (click)="openLg()" style="border: solid 1px gray;color: rgb(229, 72, 60);font-weight: bold;">
        Thêm mới
      </button>
    </form>

        <form *ngIf="hidden" [formGroup]="formAdd">
              <div class="row">
                <div class="col-12">
                  <div class="form-group row">
                    <label class="col-md-5 col-form-label">Tên người nhận: </label>
                    <div class="col-md-10">
                      <input class="form-control" type="text" formControlName="name" style="border: solid 1px gray;">
                      <small class="col alert text-danger" role="alert"
                             *ngIf="formAdd.get('name')?.errors?.required && formAdd.get('name')?.touched">
                        Tên người nhận không được để trống !
                      </small>
                    </div>
                  </div>


                  <div class="form-group row">
                    <label class="col-md-4 col-form-label">Số điện thoại: </label>
                    <div class="col-md-10">
                      <input class="form-control" type="text" formControlName="sdt" style="border: solid 1px gray;">
                      <small class="col alert text-danger" role="alert"
                             *ngIf="formAdd.get('sdt')?.errors?.required && formAdd.get('sdt')?.touched">
                        Số điện thoại không được để trống !
                      </small>

                      <small class="col alert text-danger" role="alert"
                             *ngIf="formAdd.get('sdt')?.errors?.pattern && formAdd.get('sdt')?.touched">
                        Định dạng số điện thoại chưa đúng !
                      </small>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4 col-form-label">Địa chỉ: </label>
                    <div class="col-md-10">
                      <input class="form-control" type="text" formControlName="address" style="border: solid 1px gray;">
                      <small class="col alert text-danger" role="alert"
                             *ngIf="formAdd.get('address')?.errors?.required && formAdd.get('address')?.touched">
                        Địa chỉ không được để trống !
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            <div class="footer d-flex">
              <div>
                <button [hidden]="!hidden" type="button" class="btn me-5" type="submit" (click)="create()" [disabled]="!formAdd.valid" style="border: solid 1px gray;color: rgb(217, 83, 73);font-weight: bold;">Thêm mới</button>
              </div>
              <div >
                <button [hidden]="!hidden" type="button" class="btn" type="submit" (click)="rollBack()"style="border: solid 1px gray; color:rgb(30, 195, 173);font-weight: bold;">Quay lại</button>
              </div>
            </div>
        </form>
    </div>
    <div class="col-4">
      <div class="d-flex">
       <i class="bi bi-bag-check-fill"></i>
       <h5 style="margin-top: 3px; margin-left:10px ;">THÔNG TIN THANH TOÁN</h5>
      </div>
      <div class="row">
       <div class="col-6">
         <p>Tiền hàng: </p>
       </div>
       <div class="col-6">
        <h5 *ngIf="data.product!.outputprice && data!.quantity">{{data.product!.outputprice * data.quantity}}đ
        </h5>
       </div>
      </div>
      <div class="row">
       <div class="col-6">
         <p>Phí vận chuyển: </p>
       </div>
       <div class="col-6">
         30.000đ
       </div>
      </div>
      <div class="row">
       <div class="col-6">
         <p>Giảm giá: </p>
       </div>
       <div class="col-6">
         -0đ
       </div>
      </div>
      <div class="row mb-3">
       <div class="col-6">
         <h5>Tổng tiền</h5>
       </div>
       <div class="col-6">
         <!-- <h5 style="color: red;">{{grandTotal}}đ</h5> -->
         <h5 style="color: red;" *ngIf="data.product!.outputprice && data!.quantity">{{(data.product!.outputprice * data.quantity)+30000}}đ
        </h5>
       </div>
      </div>
      <div class="mb-5">
       <button [disabled]="!formI4.valid && hienthi==0"(click)="checkout()" style="background-color: black; color: white;" class="btn">XÁC NHẬN MUA HÀNG</button>
      </div>
     </div>
  <!-- <td><button [disabled]="!formI4.valid" (click)="checkout()" class="btn btn-success">Mua hàng</button></td> -->
</div>

