<div class="row justify-content-center m-2 ms-5" >
  <h1 style="font-family: 'Times New Roman', Times, serif;text-align: center;margin-bottom: 30px;">Top sản phẩm mới nhập</h1>
  <div class="col-lg-2 col-md-6 product" style="padding-left: 10px;margin-left: 10px;" *ngFor="let data of productList">
    <div class="single-product card" (click)=infoProducts(data.id)>
      <img class="img-fluid img" src="https://enternalproduct.s3.ap-southeast-1.amazonaws.com/{{data.photo}}">
      <div class="product-details">
        <h1 class="text-center product-name">{{data.name}}</h1>
        <p class="cate-brand">Loại: {{data!.category!.name}}</p>
        <p class="cate-brand">Hãng: {{data!.hang!.name}}</p>
        <div class="price">
          <h5 class="text-danger">{{data.outputprice}} VND</h5>
        </div>
        <div class="prd-bottom card-footer">
          <a class="social-info" (click)=infoProducts(data.id)>
            <span class="ti-bag"></span>
            <p class="hover-text">Add to Cart</p>
          </a>
          <a href="" class="social-info">
            <span class="lnr lnr-heart"></span>
            <p class="hover-text">Wishlist</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div>
      <h6 style="margin-left: 1100px;">Top sản phẩm mới nhất muốn tìm</h6>
    </div>
    <br>
   <div style="float: right;">
    <select #selectSize (change)="pageItem(selectSize.value)" class="page-items mr-1 me-3">
      <option>1</option>
      <option>3</option>
      <option>5</option>
    </select>
   </div>
  </div>

</div>
