.card-find{
  margin-top: 150px;
  margin-left: 100px;
  margin-right: 100px;
}
.card-find-text{
color: #3c763d;
font-family: 'Times New Roman', Times, serif;
font-size: 25px;
margin-top: 20px;
}
.table-in4{
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}
