<!-- <div class="banner">
  <img src="/assets/img/banner/banner01.png" alt="" class="" style="width: 100%; height: auto;">

  <div class="container">
    <div class="row fullscreen align-items-center justify-content-start">
      <div class="col-lg-12">
        <div class="active-banner-slider owl-carousel">

          <div class="row single-slide align-items-center d-flex">
            <div class="col-lg-5 col-md-6">
              <div class="banner-content">
                <h1>Nike New <br>Collection!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                <div class="add-bag d-flex align-items-center">
                  <a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
                  <span class="add-text text-uppercase">Add to Bag</span>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="banner-img">
                <img class="img-fluid" src="/assets/img/banner/banner-img.png" alt="">
              </div>
            </div>
          </div>
          <div class="row single-slide align-items-center d-flex">
            <div class="col-lg-5 col-md-6">
              <div class="banner-content">
                <h1>Nike New <br>Collection!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                <div class="add-bag d-flex align-items-center">
                  <a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
                  <span class="add-text text-uppercase">Add to Bag</span>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="banner-img">
                <img class="img-fluid" src="/assets/img/banner/banner-img.png" alt="">
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- End banner Area -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/img/banner/banner01.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/banner/banner02.png" class="d-block w-100" alt="...">
    </div>
    <!-- <div class="carousel-item">
      <img src="/assets/img/banner/banner03.png" class="d-block w-100" alt="...">
    </div> -->
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- start features Area -->
<section class="features-area section_gap">
  <div class="container">
    <div class="row features-inner">
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="/assets/img/features/f-icon1.png" alt="">
          </div>
          <h6>Free Delivery</h6>
          <p>Free Shipping on all order</p>
        </div>
      </div>
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="/assets/img/features/f-icon2.png" alt="">
          </div>
          <h6>Return Policy</h6>
          <p>Free Shipping on all order</p>
        </div>
      </div>
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="/assets/img/features/f-icon3.png" alt="">
          </div>
          <h6>24/7 Support</h6>
          <p>Free Shipping on all order</p>
        </div>
      </div>
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="/assets/img/features/f-icon4.png" alt="">
          </div>
          <h6>Secure Payment</h6>
          <p>Free Shipping on all order</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end features Area -->

<!-- Start category Area -->
<section class="category-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-12">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            <div class="single-deal">
              <div class="overlay"></div>
              <img class="img-fluid w-100" src="/assets/img/category/c1.jpg" alt="">
              <a href="/assets/img/category/c1.jpg" class="img-pop-up" target="_blank">
                <div class="deal-details">
                  <h6 class="deal-title">Sneaker for Sports</h6>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="single-deal">
              <div class="overlay"></div>
              <img class="img-fluid w-100" src="/assets/img/category/c2.jpg" alt="">
              <a href="/assets/img/category/c2.jpg" class="img-pop-up" target="_blank">
                <div class="deal-details">
                  <h6 class="deal-title">Sneaker for Sports</h6>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="single-deal">
              <div class="overlay"></div>
              <img class="img-fluid w-100" src="/assets/img/category/c3.jpg" alt="">
              <a href="/assets/img/category/c3.jpg" class="img-pop-up" target="_blank">
                <div class="deal-details">
                  <h6 class="deal-title">Product for Couple</h6>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-8 col-md-8">
            <div class="single-deal">
              <div class="overlay"></div>
              <img class="img-fluid w-100" src="/assets/img/category/c4.jpg" alt="">
              <a href="/assets/img/category/c4.jpg" class="img-pop-up" target="_blank">
                <div class="deal-details">
                  <h6 class="deal-title">Sneaker for Sports</h6>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-deal">
          <div class="overlay"></div>
          <img class="img-fluid w-100" src="/assets/img/category/c5.jpg" alt="">
          <a href="/assets/img/category/c5.jpg" class="img-pop-up" target="_blank">
            <div class="deal-details">
              <h6 class="deal-title">Sneaker for Sports</h6>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End category Area -->

<!-- start product Area -->
<div class="row">

  <div class="col-lg-12">
    <!-- <app-product></app-product> -->
    <app-find-new-product></app-find-new-product>
  </div>


</div>

<!-- end product Area -->


<!-- Start brand Area -->
<section class="brand-area section_gap">
  <div class="container">
    <div>
      <h2 class="brand-name">CÁC THƯƠNG HIỆU CHÍNH</h2>
    </div>
    <div class="row">
      <a class="col single-img">
        <img class="img-fluid d-block mx-auto" src="/assets/img/brand/1.png" alt="" style="width: 50%; height: auto;">
      </a>
      <a class="col single-img">
        <img class="img-fluid d-block mx-auto" src="/assets/img/brand/2.png" alt="" style="width: 50%; height: auto;">
      </a>
      <a class="col single-img">
        <img class="img-fluid d-block mx-auto" src="/assets/img/brand/3.png" alt="" style="width: 50%; height: auto;">
      </a>
      <a class="col single-img">
        <img class="img-fluid d-block mx-auto" src="/assets/img/brand/4.png" alt="" style="width: 50%; height: auto;">
      </a>
      <a class="col single-img" >
        <img class="img-fluid d-block mx-auto" src="/assets/img/brand/5.png" alt="" style="width: 50%; height: auto;">
      </a>
    </div>
  </div>
</section>
<!-- End brand Area -->

<!-- Start related-product Area -->
<section class="related-product-area section_gap_bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <div class="section-title">
          <h1>Deals of the Week</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
            <div class="single-related-product d-flex">
              <a href="#"><img src="/assets/img/r1.jpg" alt=""></a>
              <div class="desc">
                <a href="#" class="title">Black lace Heels</a>
                <div class="price">
                  <h6>$189.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
            <div class="single-related-product d-flex">
              <a href="#"><img src="/assets/img/r2.jpg" alt=""></a>
              <div class="desc">
                <a href="#" class="title">Black lace Heels</a>
                <div class="price">
                  <h6>$189.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
            <div class="single-related-product d-flex">
              <a href="#"><img src="/assets/img/r3.jpg" alt=""></a>
              <div class="desc">
                <a href="#" class="title">Black lace Heels</a>
                <div class="price">
                  <h6>$189.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
            <div class="single-related-product d-flex">
              <a href="#"><img src="/assets/img/r5.jpg" alt=""></a>
              <div class="desc">
                <a href="#" class="title">Black lace Heels</a>
                <div class="price">
                  <h6>$189.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
            <div class="single-related-product d-flex">
              <a href="#"><img src="/assets/img/r6.jpg" alt=""></a>
              <div class="desc">
                <a href="#" class="title">Black lace Heels</a>
                <div class="price">
                  <h6>$189.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
            <div class="single-related-product d-flex">
              <a href="#"><img src="/assets/img/r7.jpg" alt=""></a>
              <div class="desc">
                <a href="#" class="title">Black lace Heels</a>
                <div class="price">
                  <h6>$189.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-related-product d-flex">
              <a href="#"><img src="/assets/img/r9.jpg" alt=""></a>
              <div class="desc">
                <a href="#" class="title">Black lace Heels</a>
                <div class="price">
                  <h6>$189.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-related-product d-flex">
              <a href="#"><img src="/assets/img/r10.jpg" alt=""></a>
              <div class="desc">
                <a href="#" class="title">Black lace Heels</a>
                <div class="price">
                  <h6>$189.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-related-product d-flex">
              <a href="#"><img src="/assets/img/r11.jpg" alt=""></a>
              <div class="desc">
                <a href="#" class="title">Black lace Heels</a>
                <div class="price">
                  <h6>$189.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="ctg-right">
          <a href="#" target="_blank">
            <img class="img-fluid d-block mx-auto" src="/assets/img/category/c5.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End related-product Area -->
