
<div *ngIf="loading">
  <div class="loader">
    <div class="loader-inner">
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="item" class="row" style="margin-top: 180px; margin-bottom: 70px;">
  <div class="col-6">
    <div class="col-8 img-prd-detail bg-light p-4 shadow"
      style="position:absolute; width:100%; height:100%;margin-bottom: 50px;">
      <img class="img-fluid img"  src="https://enternalproduct.s3.ap-southeast-1.amazonaws.com/{{item.photo}}">
    </div>
  </div>
  <div class="col-6">
    <h2 style="font-family:Arial, Helvetica, sans-serif;font-weight: bold;">{{item.name}}</h2>
    <div class="d-flex">
      <p class="col-3">Danh Mục: </p>
      <h5 >{{item.category!.name}}</h5>
    </div>
    <div class="d-flex">
      <p class="col-3">Thương hiệu:</p>
      <h5>{{item.hang!.name}}</h5>
    </div>
    <div class="d-flex">
      <p class="col-3">Đế giày:</p>
      <h5>{{item.sole!.name}}</h5>
    </div>
    <div class="d-flex">
      <p class="col-3">Dòng giày:</p>
      <h5 >{{item.shoeLine!.name}}</h5>
    </div>
    <div *ngIf="listHotTrend.length > 0" class="d-flex" style="margin-left: 17px">
      <p style="font-family: 'Times New Roman';font-weight: bold;font-size: 24px">Màu sắc được được ưa chuộng:</p>
      <a style="font-family: 'Times New Roman';font-weight: bold;font-size: 24px" *ngFor="let item of listHotTrend" class="ms-2">{{item[0].mau.name}}, </a>
    </div>
    <div>
      <h3 style="color: red;">{{item.outputprice | currency:'VND':' VND '}}</h3>
    </div>


    <form novalidate [formGroup]="formAdd">
      <div class="form-group row">
        <label *ngIf="dataSize.length >0"  class="col-md-2 col-form-label ms-2">Size: </label>
        <!-- <div class="col-md-2 mt-2">

          <div style="display: flex">
            <button *ngFor="let item1 of dataSize " (click)="size(item1.id)"  class="btn">{{item1.value}}</button>
          </div>
        </div> -->
        <div *ngIf="dataSize.length >0" class="btn-group">
          <div *ngFor="let item1 of dataSize" class="mx-2">
            <input
            mdbRadio
            type="radio"
            class="btn-check"
            name="options1"
            id={{item1.value}}
            autocomplete="off"

          />
          <label class="btn btn-outline-primary"for={{item1.value}} (click)="size(item1.id)" >{{item1.value}}</label>
          </div>
        </div>
      </div>


      <label *ngIf="dataSize.length >0" class="col-md-2">Màu: </label>
      <br>
      <div *ngIf="dataSize.length >0" class="btn-group">
        <div *ngFor="let item2 of dataColor " class="mx-2">
          <input
          mdbRadio
          type="radio"
          class="btn-check"
          name="options"
          id={{item2.name}}
          autocomplete="off"

        />
        <label class="btn btn-outline-primary" for={{item2.name}} (click)="color(item2.id)">{{item2.name}}</label>
        </div>
      </div>

<!--      <div class="row"></div>-->
<!--      <label class="col-md-2 mt-3">Đế giày: </label>-->
<!--      <br>-->
<!--      <div class="btn-group">-->
<!--        <div *ngFor="let item3 of dataSole " class="mx-2">-->
<!--          <input-->
<!--            mdbRadio-->
<!--            type="radio"-->
<!--            class="btn-check"-->
<!--            name="options2"-->
<!--            id="{{item3.name}}"-->
<!--            autocomplete="off"-->

<!--          />-->
<!--          <label class="btn btn-outline-primary" for="{{item3.name}}" (click)="sole(item3.id)">{{item3.name}}</label>-->
<!--        </div>-->
<!--      </div>-->



      <div *ngIf="dataSize.length >0" class="form-group row mt-2">
        <label for="quantity" class="col-md-2 col-form-label">Số lượng: </label>
        <div class="col-md-2 mt-2">
          <input #selectquantity (change)="checkChange(selectquantity.value)"
                 class="form-control" type="number"
                 min="1" [defaultValue]="1"
                 formControlName="quantity" id="quantity">
        </div>
      </div>

      <small class="col alert text-danger validate-txt" role="alert"
             *ngIf="formAdd.get('quantity')?.errors?.required && formAdd.get('quantity')?.touched">
        Số lượng không được để trống !
      </small>

      <small class="col alert text-danger validate-txt" role="alert"
             *ngIf="formAdd.get('quantity')?.errors?.pattern && formAdd.get('quantity')?.touched">
        Định dạng số lượng chưa đúng !
      </small>

      <h6 *ngIf="message != null" class="col alert text-danger mt-3" role="alert"> {{message }} sản phẩm có sẵn
      </h6>
      <div class="footer">
        <div>
          <button *ngIf="dataSize.length>0" type="button" class="btn btn-dark" type="submit" (click)="checklogin()"
                  [disabled]="!formAdd.valid">THÊM VÀO GIỎ</button>
<!--          <button type="button" class="btn btn-dark ml-2" type="submit" (click)="buyNow()"-->
<!--                  [disabled]="!formAdd.valid">MUA NGAY</button>-->
        </div>
      </div>
    </form>
  </div>
</div>
